<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alana Greene</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Alana Greene" />
  <link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>
<div class="container">
  <header>
    <h1><a href="/" class="logo">Alana Greene</a></h1>
      <nav>
          <a href="#">Posts</a>
          <a href="#">Publications</a>
          <a href="#">About</a>
      </nav>
      <div class="quill-hr">
          <div class='line'></div>
          <img src="/dist/img/quill.png">
          <div class='line'></div>
      </div>
  </header>
  <section class="posts">
    {% if posts|length == 0 %}
      <p>No posts yet...</p>
    {% else %}
      {% for post in posts %}
      <div class="post type-{{ post.type }}">
        <div class="post-header">
          <p class="title"><a href="/post/{{ post.id }}">{{ post.title }}</a></p>
          <p class="date">{{ post.timestamp|date("F jS, Y") }}</p>
        </div>
        <div class="body">{{ post.body.html|raw }}</div>
      </div>
      {% endfor %}
    {% endif %}
  </section>
  <section class="pagination">
    <div class="newer">
      {% if (currentPage > 1) %}
        <a href="/page/{{ currentPage - 1 }}">&larr;&nbsp;Newer Posts</a>
      {% endif %}
    </div>
    <div class="older">
      {% if (currentPage < lastPage) %}
        <a href="/page/{{ currentPage + 1 }}">Older Posts&nbsp;&rarr;</a>
      {% endif %}
    </div>
  </section>
</div>
</body>
</html>